$font-clr: hsla(0, 0%, 90%, 1);
$bg-clr: hsla(0, 0%, 10%, 1);
$num-clr: hsla(0, 0%, 20%, 1);
$num-hover-clr: hsla(0, 0%, 60%, 1);
$op-clr: hsla(180, 100%, 40%, 1);
$op-hover-clr: hsla(180, 100%, 50%, 1);
$clear-clr: hsla(30, 100%, 45%, 1);
$clear-hover-clr: hsla(30, 100%, 55%, 1);