* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  inline-size: 70%;
  max-inline-size: 400px;
  min-inline-size: 250px;
  background-color: #1a1a1a;
  border-radius: 0.5rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.calculator .calculator-display {
  inline-size: 100%;
  overflow-x: auto;
  padding-inline: 8px;
  padding-block-start: 24px;
  margin-block-end: 8px;
  background-color: #333333;
  border-radius: 0.5rem;
  grid-area: 1 / 1 / span 1 / span 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 3rem;
}

.calculator .calculator-keys {
  display: grid;
  gap: 8px;
}

.calculator .calculator-keys button {
  outline: none;
  border: none;
  font-size: 2rem;
  border-radius: 0.5rem;
  padding-block: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.calculator .calculator-keys .number, .calculator .calculator-keys [data-action="demical"] {
  background-color: #333333;
}

.calculator .calculator-keys .number:hover, .calculator .calculator-keys [data-action="demical"]:hover {
  background-color: #999999;
}

.calculator .calculator-keys [data-action="clear"] {
  background-color: #e67300;
}

.calculator .calculator-keys [data-action="clear"]:hover {
  background-color: #ff8c1a;
}

.calculator .calculator-keys [data-action="calculate"] {
  grid-area: 2 / 4 / span 4 / span 1;
}

.calculator .calculator-keys .operator {
  background-color: #00cccc;
}

.calculator .calculator-keys .operator:hover {
  background-color: cyan;
}
